body {
  background-color: #1A0F08;
  color: #F4C98A;
  font-family: Inter, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #D37E3E;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
